.image-scroll-container {
  position: relative;
  display: none;
}

.contract_date {
  position: absolute;
  border: 5px solid red;
  right: 50pt; 
  top: 60pt;
  font-size: 13pt;
}




/* .delivery_address {
  position: relative;
  top: -12cm;
  left: 420px;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
} */
  
/* .image-overlay p {
  margin: 0;
} */

@media print {
  .image-scroll-container {
    display: block;
  }

  .image-scroll-container img {
    margin: 0;
  }
}
