/*Этот файл содержит стили для позиционирования и оформления элементов на изображении, 
предназначенного для отображения контента договора. Определены абсолютные позиции и размеры шрифтов 
для различных текстовых блоков, таких как дата, название продукта, количество, стоимость и др. 
В режиме печати задано отображение контейнера с изображением и его настройки для печати.*/
.image-scroll-container {
  position: relative;
  display: none;
}

.contract_date {
  position: absolute;
  /* border: 5px solid red; */
  left: 370pt;
  top: 70pt;
  font-size: 9pt;
}

.name_date {
  position: absolute;
  /* border: 5px solid red; */
  left: 68pt;
  top: 111pt;
  font-size: 6pt;
}

.product_name {
  position: absolute;
  /* border: 5px solid red; */
  left: 90pt;
  top: 210pt;
  font-size: 6pt;
}

.amount {
  position: absolute;
  /* border: 5px solid red; */
  left: 154pt;
  top: 210pt;
  font-size: 6pt;
}

.additional_service {
  position: absolute;
  /* border: 5px solid red; */
  left: 233pt; 
  top: 210pt;
  font-size: 6pt;
}

.cost {
  position: absolute;
  /* border: 5px solid red; */
  left: 282pt;
  top: 210pt;
  font-size: 6pt;
}

.delivery_cost {
  position: absolute;
  /* border: 5px solid red; */
  left: 337pt;
  top: 210pt;
  font-size: 6pt;
}

.total_cost {
  position: absolute;
  /* border: 5px solid red; */
  left: 395pt;
  top: 210pt;
  font-size: 6pt;
}

.delivery_address {
  position: absolute;
  /* border: 5px solid red; */
  left: 68pt;
  top: 439pt;
  font-size: 6pt;
}

.full_name_date {
  position: absolute;
  /* border: 5px solid red; */
  left: 251pt;
  top: 1144pt;
  font-size: 6pt;
}

.full_delivery_address {
  position: absolute;
  /* border: 5px solid red; */
  left: 272pt;
  top: 1161pt;
  font-size: 6pt;
}

.phone_number {
  position: absolute;
  /* border: 5px solid red; */
  left: 272pt;
  top: 1177pt;
  font-size: 6pt;
}

.passport_series_number {
  position: absolute;
  /* border: 5px solid red; */
  left: 302pt;
  top: 1209pt;
  font-size: 6pt;
}

.passport_issued_by {
  position: absolute;
  /* border: 5px solid red; */
  left: 312pt;
  top: 1225pt;
  font-size: 6pt;
}

@media print {
  .image-scroll-container {
    display: block;
  }

  .image-scroll-container img {
    margin: 0;
  }
}
